article{

    background-color: $primary;
}


@keyframes transition-animation 
{
 
    100%{
        top: 0rem;
        left: 9rem;
    }
}


.transition{
    width: 10rem;
    height: 10rem;
    background-color: $secondary;
}

.transition > div{
    width: 1rem;
    height: 1rem;
    background-color: $text;
    position: relative;
    top: 9rem;
    left: 0;

    animation-name:transition-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

